DDONdex/Data/Weapons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wpn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="weapon">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CID" maxOccurs="unbounded" type="xs:unsignedByte" />
              <xs:element name="IR" type="xs:unsignedByte" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Voc" type="xs:string" />
              <xs:element name="Lv" type="xs:unsignedByte" />
              <xs:element name="Cost" type="xs:unsignedByte" />
              <xs:element name="Time" type="xs:time" />
              <xs:element name="Exp" type="xs:unsignedByte" />
              <xs:element name="Stats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="P.Atk" type="xs:unsignedByte" />
                    <xs:element name="P.Type" type="xs:string" />
                    <xs:element name="M.Atk" type="xs:unsignedByte" />
                    <xs:element name="M.Type" type="xs:string" />
                    <xs:element name="Blow" type="xs:unsignedByte" />
                    <xs:element name="KO" type="xs:unsignedByte" />
                    <xs:element name="Chance" type="xs:unsignedByte" />
                    <xs:element name="Weight" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Mats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:unsignedShort" />
                    <xs:element name="Qty" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>